/* Fonts */

$fonts-poppins: (
  200: 'Poppins-ExtraLight',
  400: 'Poppins-Regular',
  600: 'Poppins-SemiBold',
);

@each $weight, $file in $fonts-poppins {
  @font-face {
    font-family: Poppins;
    font-weight: $weight;
    font-style: normal;
    src: url('../../assets/fonts/Poppins/#{$file}.woff2') format('woff2');
    font-display: swap;
  }
}
