.page {
  background-color: #fafafa;

  &__content {
    padding: 3.5rem 1.875rem;
  }

  @media (width >= 48rem) {
    &__content {
      padding: 5rem 3.375rem;
    }
  }

  @media (width >= 90rem) {
    &__content {
      padding: 6.375rem 10.1875rem 10.1875rem;
    }
  }
}
