/* Colors */
$color-grey-500: hsl(234deg 12% 34%);
$color-grey-400: hsl(212deg 6% 44%);
$color-white: hsl(0deg 0% 100%);
$color-red: hsl(0deg 78% 62%);
$color-cyan: hsl(180deg 62% 55%);
$color-blue: hsl(212deg 86% 64%);
$color-orange: hsl(34deg 97% 64%);

/* Spacing */
$spacing-500: 2.5rem; /* 40px */
$spacing-400: 2rem; /* 32px */
$spacing-300: 1.5rem; /* 24px */
$spacing-200: 1rem; /* 16px */
$spacing-100: 0.5rem; /* 8px */

/* Font Family */
$font-poppins: 'Poppins', sans-serif;
